{% extends 'layout.html' %} 

{% block title%}
Drug
{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger">
   <ul>
      <li>{{ error }}</li>
   </ul>
</div>
{% endif %}
{% if success %}
<div class="alert alert-success">
   {{ success }}
</div>
{% endif %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
   <div class="card-header py-3">
      <div class="row">
         <div class="col-8">
            <h6 class="m-0 font-weight-bold text-primary w-75 p-2">All Drugs</h6>
         </div>
         <div class="col-4">
            <a href="/drug/add" class="btn btn-primary float-right"><i class="fa fa-plus"></i> Add Drug</a>
         </div>
      </div>
   </div>
   <div class="card-body">
      <div class="table-responsive">
         <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
               <tr>
                  <th>ID</th>
                  <th>Trade Name</th>
                  <th>Generic Name</th>
                  <th class="text-center">Actions</th>
               </tr>
            </thead>
            <tbody>
               {% for drug in drugs %}
               <tr>
                  <td>{{ drug['id'] }}</td>
                  <td>{{ drug['trade_name'] }}</td>
                  <td>{{ drug['generic_name'] }}</td>
                  <td class="text-center">
                     <a href="/drug/edit/{{ drug['id'] }}" class="btn btn-warning btn-circle btn-sm"><i class="fa fa-pen"></i></a>
                     <a href="/drug/delete/{{ drug['id'] }}" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>

{% endblock %}